body {
	display:flex;
	margin:0;
}
.side{
	height:100vh;
	width:10vw;
	background-color:blue;
}
.center{
	display:block;
	height:100vh;
	width: calc(100%-20%);
}
.top{
	height:60vh;
	width:80vw;
	background-color:green;
}
.bottom{
	height:40vh;
	width:80vw;
	background-color:orange;
}
.title{
	height:10vh;
	width:60vw;
	background-color:red;
	margin-left:10vw;
}
.btsalbum {
	display:flex;
	height:20vh;
	width:80vw;
}
.album {
	border: 5px solid white;
	height:20vh;
	width:20vw;
	background-color:yellow;
}
.member {
	margin-top:20px;
	margin-left:5vw;
	margin-right:5vw;
	display:flex;
	width:69vw;
	height:20vh;
}
.member2 {
	margin-left:14vw;
	display:flex;
	width:52vw;
	height:20vh;
}
.face{
	width:15vw;
	height:17vh;
	border: 15px solid white;
	background-color:black;
}
@media screen and (max-width:599px){
	.side {
		display:none;
	}
	.top, .bottom, .title, .btsalbum {
		display:block;
		width:100vw;
		margin:0;
	}
.center{
	display:block;
	height:100vh;
	width:100vw;
}
.top{
	height:100vh;
	background-color:green;
	}
	.bottom{
	height:40vh;
	background-color:orange;
	}
.title{
	height:10vh;
	background-color:red;
	}
.album {
	border: 5px solid white;
	height:20vh;
	background-color:yellow;
	}
.member {
	height:20vh;
	}
.member2 {
	height:20vh;
	}
.face{
	width:100vw;
	height:17vh;
	border: 15px solid white;
	background-color:black;
	}
}
@media screen and (min-width:600px) and (max-width:1000px){
	.side {
		display:none;
	}
	.center,.top,.bottom,.btsalbum {
		width:100vw;
	}
	
	.member{
		width:100vw;
		margin:0;
	}
	.member2 {
		width:72vw;
	}
	.face, .album{
	width:25vw;
	}
	.title{
		margin-left:20vw;
	}
}
