body {
	display:flex;
	margin:0;
	overflow-x:hidden;
	background-image:url(background.png);
	
}
.logo {
	background-image: url(btslogo.png);
}
.jk {
	background-image: url(jungkook.png);
}
.suga{
	background-image: url(suga.png);
}
.jin{
	background-image: url(jin.png);
}
.rapmon{
	background-image: url(rapmonster.png);
}
.v{
	background-image: url(v.png);
}
.jimin{
	background-image: url(jimin.png);
}
.jhope{
	background-image: url(jhope.png);
}
@media screen and (max-width:599px){
	.side {
		display:none;
	}
	.top, .bottom{
		height:180vh;
		width: 100%;
	}
	.logo{
		background-color:red;
		width:100%;
		height:30vh;
	}
	.member, .btsalbum {
		height:100vh;
		width: 100vw;
	}
	.member2 {
		height:65vh;
		width:100vw;
	}
	.face {
		height: calc(100vh / 4 - 10px);
		background-color:orange;
		border-bottom: 5px solid white;
		border-top: 5px solid white;
	}
	.album{
		border-bottom: 5px solid white;
		border-top: 5px solid white;
		height: calc(200vh / 4 - 10px);
		background-color:green;
	} 
}
@media screen and (min-width:600px) and (max-width:1000px){
	.side{
		display:none;
	}
	.center{
		height:100vh;
		width: 100vw;
	}
	.top{
		height:70vh;
	}
	.bottom{
		height:30vh;
	}
	.logo{
		height:140px;
		width:247px;
		border-top:5px solid white;
		margin-left:40%;
		margin-bottom:5vh;
	}
	.btsalbum {
		display:flex;
		height:20vh;
		width:100vw;
	}
	.album {
		border: 5px solid white;
		height:20vh;
		width:calc(100vw / 4 - 10px);
		background-color:yellow;
	}
	
	.member, .member2 {
		display:flex;
		height:147px;
	}
	.member {
		width:920px;
		margin-top:20px;
	}
	.member2 {
	margin-left:20vw;
	width:690px;
	}
	.face, .face2{
	width: 200px;
	height:132px;
	border: 15px solid white;
	background-color:black;
	}

}

@media screen and (min-width:1001px){
	.side{
		height:100vh;
		width:10vw;
	}
	.center{
		height:100vh;
		width: 80vw;
	}
	.top{
		height:70vh;
		width:80vw;
	}
	.bottom{
		height:30vh;
		width:80vw;
	}
	.logo{
		height:140px;
		width:247px;
		border-top:5px solid white;
		margin-left:40%;
		margin-bottom:5vh;
	}
	.btsalbum {
		display:flex;
		height:20vh;
		width:80vw;
	}
	.album {
		border: 5px solid white;
		height:20vh;
		width:20vw;
		background-color:yellow;
	}
	.member, .member2 {
		display:flex;
		height:147px;
	}
	.member {
		width:920px;
		margin-top:20px;
		margin-left:16%;
	}
	.member2 {
	margin-left:20vw;
	width:690px;
	}
	.face, .face2{
	width: 200px;
	height:132px;
	border: 15px solid white;
	}

}


