body {
	display:flex;
	justify-content:center;
	margin:0;
	background: #f0f4fa;
	overflow-x:hidden;
}
.jk {
	background-image: url(jungkook.png);
}
.suga{
	background-image: url(suga.png);
}
.jin{
	background-image: url(jin.png);
}
.rapmon{
	background-image: url(rapmonster.png);
}
.v{
	background-image: url(v.png);
}
.jimin{
	background-image: url(jimin.png);
}
.jhope{
	background-image: url(jhope.png);
}
.love{
	background-image:url(loveyourself.jpg);
}
.wings{
	background-image:url(wings.jpg);
}
.dark{
	background-image:url(darkandwild.jpg);
}
.young{
	background-image:url(youngforever.jpg);
}
.btslogo{
	width:100vw;
	display:flex;
	justify-content:center;
	}
.logo{
	border-top:5px solid #f0f4fa;
	margin-bottom:10px;
	height:107px;
	width:190px;
	background-image: url(btslogo2.png);
}
.center{
	height:100vh;
	width: 100vw;
	}
.top, .bottom{
	width:100vw;
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	}
.btsalbum {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.album {
	border: 5px solid #f0f4fa;
}
.face, .face2{
	border: 15px solid #f0f4fa;
}
/* thank you to http://bts.ibighit.com/bts.php for the code*/
.background-o {
	width:100%;
	height:100%;
	background:url('https://s3-ap-northeast-1.amazonaws.com/ibighit/bts/loveyourself/flower/ly-o-flower.png') center right no-repeat;
	background-size: contain !important;
	position: absolute;
	left:0;
	z-index: -9999;
	text-align: center;
    -webkit-font-smoothing: antialiased;
}
@media screen and (max-width:450px){
	.album {
		height:315px;
		width:311px;
	}
	.member, .member2 {
		display:block;
	}
	.member2{
		height:684px;
	}
	.member{
		height:912px;
	}
	.face, .face2{
		width: 300px;
		height:198px;
	}
	.jk {
		background-image: url(jungkook2.png);
	}
	.suga{
		background-image: url(suga2.png);
	}
	.jin{
		background-image: url(jin2.png);
	}
	.rapmon{
		background-image: url(rapmonster2.png);
	}
	.v{
		background-image: url(v2.png);
	}
	.jimin{
		background-image: url(jiminsmall.png);
	}
	.jhope{
		background-image: url(jhope2.png);
	}
}
@media screen and (min-width:451px) and (max-width:888px){
	.bottom{
		height:173px;
	}
	.album {
		height:315px;
		width:311px;
	}
	.member, .member2 {
		display:block;
		height:820px;
	}
	.member2 {
		margin-top:80px;
	}
	.face, .face2{
		width: 300px;
		height:198px;
	}
	.jk {
	background-image: url(jungkook2.png);
	}
	.suga{
		background-image: url(suga2.png);
	}
	.jin{
		background-image: url(jin2.png);
	}
	.rapmon{
		background-image: url(rapmonster2.png);
	}
	.v{
		background-image: url(v2.png);
	}
	.jimin{
		background-image: url(jiminsmall.png);
	}
	.jhope{
		background-image: url(jhope2.png);
	}
}
@media screen and (min-width:889px) and (max-width:1584px){
	.top{
		height:70vh;
	}
	.bottom{
		height:30vh;
	}
	.btsalbum {
		height:30vh;
		width:1284px;
	}
	.album {
		height:173px;
		width:170px;
	}
	.member, .member2 {
		display:flex;
		justify-content:center;
		height:147px;
	}
	.member {
		width:920px;
	}
	.member2 {
		width:708px;
	}
	.face, .face2{
		width: 200px;
		height:132px;
	}
	.love{
		background-image:url(loveyourself2.jpg);
	}
	.wings{
		background-image:url(wings2.jpg);
	}
	.dark{
		background-image:url(darkandwild2.jpg);
	}
	.young{
		background-image:url(youngforever2.jpg);
	}
}
@media screen and (min-width:1585px){
	.center{
		height:100vh;
		width: 100vw;
	}
	.top{
		display:block;
		height:60vh;	
	}
	.bottom{
		height:40vh;
	}
	.logo{
		height:140px;
		width:247px;
		background-image: url(btslogo.png);
	}
	.btsalbum {
		height:40vh;
		width:1284px;
	}
	.album {
		height:315px;
		width:311px;
	}
	.member, .member2 {
		display:flex;
		justify-content:center;
		height:147px;
	}
	.member {
		width:920px;
		margin-top:20px;
		/*margin-left:calc(100vw /2 - (5 * 200px)/2 + (10 * 15px)/2);*/
		margin-left:calc(100vw -(4 * 200px + 120px)/ 2);
	}
	.member2 {
		width:708px;
		margin-top:20px;
		margin-left:calc(100vw /2 - (4 * 200px)/2 + (8 * 15px)/2);
		
	}
	.face, .face2{
		width: 200px;
		height:132px;
	}
}
